/** @format */

.site-container {
  min-height: 100vh;
}
main {
  /* padding: 1rem; */
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px solid gray;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.info {
  padding: 1rem;
}
